html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: 'DM Sans', sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

.main-header {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #131313;
}

.menu {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.dishes {
  padding: 2rem;
  width: 100%;
  max-width: 576px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: .5rem;
  box-shadow: 1px 1px 10px -1px rgb(0 0 0 / 0.4);
}

.dish {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid rgb(0 0 0 / 0.2);
}

.name {
  font-size: 2.4rem;
}

.category {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  border-radius: 5rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  gap: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.price {
  padding-top: .5rem;
  font-size: 2rem;
  font-weight: 700;
}

.qty-input {
  margin: 0 0 0 auto;
  padding: 1rem 2rem;
  width: 12rem;
  border: none;
  border-radius: 5rem;
  outline: none;
  box-shadow: 1px 1px 10px -1px rgb(0 0 0 / 0.4);
}

.modal {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgb(0 0 0 / 0.8);
}

.modal-content {
  margin: 1rem 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: .5rem;
}

.modal-header {
  padding: 1rem 0;
  color: #131313;
  border-bottom: 1px solid rgb(0 0 0 / 0.3);
}

.modal-form {
  margin: 1rem 0;
}

.field {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.field input {
  padding: .5rem 1rem;
  border: 1px solid rgb(0 0 0 / 0.15);
  border-radius: .5rem;
  box-shadow: 1px 1px 10px -1px rgb(0 0 0 / 0.4);
}

.form-btns {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.form-btns .btn {
  z-index: 1;
}

.btn-section {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 1rem 2rem;
  position: relative;
  font-weight: 700;
  color: black;
  background-color: transparent;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 2px 10px -1px rgb(0 0 0 / 0.4);
  overflow: hidden;
  cursor: pointer;
  transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
}

.btn:hover {
  color: white;
  box-shadow: none;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(30, 108, 255);
  transition: width .3s ease-in-out;
  z-index: -5;
}

.btn:hover::before {
  width: 100%;
}

.btn-alt {
  color: white;
}

.btn-alt::before {
  width: 100%;
  background-color: orangered;
}

.btn-alt:hover:before {
  background-color: rgb(255, 38, 0);
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

.hide {
  display: none;
}

.comida {
  background-color: tomato;
}

.bebida {
  background-color: royalblue;
}

.postre {
  background-color: orchid;
}

@media (min-width: 768px) {
  .modal-content {
    margin: 1rem auto;
    max-width: 640px;
  }
}